<h2>About</h2>

<p>BTCplex is an open source <a href="http://bitcoin.org/">Bitcoin</a> block chain browser written in <a href="http://golang.org/">Go</a> (<a href="https://github.com/tsileo/btcplex">BTCPlex is hosted on GitHub</a>), it allows you to search and navigate the <a href="https://en.bitcoin.it/wiki/Block_chain">block chain</a>.</p>

<ul>
	<li>Browse <a href="https://en.bitcoin.it/wiki/Blocks">blocks</a> and <a href="https://en.bitcoin.it/wiki/Transactions">transactions</a>.</li>
	<li>Check <a href="https://en.bitcoin.it/wiki/Address">address</a> balance history.</li>
	<li>Search for blocks, transactions, and addresses.</li>
</ul>

<p>It also provides a full-featured <a href="/api">JSON API</a> to access data pragmatically.</p>

<h3>What is Bitcoin ?</h3>

<blockquote>
<p>Bitcoin is a peer-to-peer currency. Peer-to-peer means that no central authority issues new money or tracks transactions. These tasks are managed collectively by the network.</p>
<footer>
— <cite><a href="https://en.bitcoin.it/wiki/Main_Page">Bitcoin wiki</a></cite>
</footer>
</blockquote>

<h3>Open Source</h3>

You can easily spin up you own BTCplex instance (<a href="https://github.com/tsileo/btcplex">source code on GitHub</a>).

<h3>Support</h3>

<p>You can ping me <a href="https://twitter.com/trucsdedev">@trucsdedev</a>/contact@btcplex.com if you have any feedback, you can also fill an <a href="https://github.com/tsileo/btcplex/issues">issue</a> if you found a bug.</p>

<p>If you like my work, consider donating to help me spend more time working on BTCplex development: <a href="bitcoin:19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa" class="hash">19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa</a>.</p>
