<h2>Server-Sent Events API Documentation</h2>
<div class="row" style="margin-top:30px;">
<div class="col-md-3">
	<div class="list-group" id="apiendpoints">
  <a href="#getblockcount" class="list-group-item">GET /getblockcount</a>
  <a href="#getblockhash_height" class="list-group-item">GET /getblockhash/:height</a>
  <a href="#latesthash" class="list-group-item">GET /latesthash</a>
</div>

</div>


<div class="col-md-9">
<p class="lead">The <a href="https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_server-sent_events">Server-Sent Events</a> API allows you to get notified on events.</p>

<h3>Path</h3>

<p>For this documentation, we will assume every request begins with the above path.</p>

<pre>https://btcplex.com/api/v1/</pre>

<h3>Format</h3>

<p>All calls are returned in <strong>JSON</strong>.</p>

<h3>Rate limiting</h3>

<p>The rate limit allows you to make <strong>3600 requests per hour</strong> and implements the standard <code>X-RateLimit-*</code> headers in every API response.</p>

<ul class="list-unstyled">
  <li><code>X-RateLimit-Limit</code> The number of requests allowed per hour.</li>
  <li><code>X-RateLimit-Remaining</code> The number of requests remaining in the current window.</li>
  <li><code>X-RateLimit-Reset</code> The time (in UTC epoch seconds) at which the rate limit window resets.</li>
</ul>


<h3>Status Codes</h3>

<ul class="list-unstyled">
<li><strong>200 OK</strong> Response to a successful request.</li>
<li><strong>429 Too many requests</strong> Request aborted due to rate-limiting.</li>
<li><strong>500 Internal server error</strong> Something bad happened.</li>
</ul>


<h3>Resources</h3>

<p style="margin-bottom:20px;">All endpoints are listed here:</p>

<h4 id="getblockcount" class="anchor">GET /getblockcount</h4>

<p>Returns the current block height / number of blocks in the longest chain.</p>
	
<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/getblockcount</pre>

<h5>Response</h5>
<pre>
275120
</pre>

<h4 id="getblockhash_height" class="anchor">GET /getblockhash/:height</h4>

<p>Returns the hash of a block for the given height.</p>

<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/getblockhash/233943</pre>

<h5>Response</h5>
<pre>
00000000000001a5e28bb1e9aad40f846d66fb7911c0db4dc32a039bb168a237
</pre>

<h4 id="latesthash" class="anchor">GET /latesthash</h4>

<p>Returns the hash of the latest block.</p>

<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/latesthash</pre>

<h5>Response</h5>
<pre>
00000000000001a5e28bb1e9aad40f846d66fb7911c0db4dc32a039bb168a237
</pre>

<h4 id="block_hash" class="anchor">GET /block/:hash</h4>

<p>Return block details along with transactions.</p>

<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/block/000000000000170b01901a691a88d0bc1cde49fe32675d920039540613e3f2d7</pre>

<h5>Response</h5>
<pre class="pre-scrollable">
{
  "bits": 453023994, 
  "hash": "000000000000170b01901a691a88d0bc1cde49fe32675d920039540613e3f2d7", 
  "height": 121426, 
  "mrkl_root": "71b01258157daeddd7e4b08bf2a149eb0878581e1a108c4ccef801867d105b17", 
  "n_tx": 10, 
  "next_block": "00000000000034fa21051368f5a197e65239efb2f99a831615bbdd499429ab94", 
  "nonce": 702499203, 
  "prev_block": "00000000000005f34c6e10ffeb86f3073c119531629f4e2728204431fd3a6ba7", 
  "size": 3040, 
  "time": 1304344768, 
  "total_out": 23308967646, 
  "tx": [
    {
      "block_hash": "000000000000170b01901a691a88d0bc1cde49fe32675d920039540613e3f2d7", 
      "block_height": 121426, 
      "block_time": 0, 
      "hash": "cd6f351ba4c9b1d17b367dcb72bfdab0a99dbec2c7a5122f5641ea51b01f08e1", 
      "in": null, 
      "lock_time": 0, 
      "out": [
        {
          "hash": "1BDJGdvEbyy5v53yFspWkLz8f6Un2EYkWz", 
          "value": 5000000000
        }
      ], 
      "size": 134, 
      "ver": 1, 
      "vin_sz": 0, 
      "vin_total": 0, 
      "vout_sz": 1, 
      "vout_total": 5000000000
    }, 
    {
      "block_hash": "000000000000170b01901a691a88d0bc1cde49fe32675d920039540613e3f2d7", 
      "block_height": 121426, 
      "block_time": 0, 
      "hash": "407fea16950684221ec202e8b5d51f9883cf6705c6fe980b329a6a6e2bcae090", 
      "in": [
        {
          "prev_out": {
            "address": "1EKc4Go9Hg7AJ85TSuw7HRNN6bHsJPteCq", 
            "hash": "f17fc0337c6a8ca197e6bedd1395c8905326988993e994052566d97b526eb1b3", 
            "n": 1, 
            "value": 25000000
          }
        }, 
        {
          "prev_out": {
            "address": "1MR3oDXdsk2wuj2oP7dfMMFWcDHCcpRakR", 
            "hash": "a5977cafded3d9a976dd1d3eb2796933f884576484d6c5b071f6cec5b41c0a91", 
            "n": 1, 
            "value": 1145000000
          }
        }, 
        {
          "prev_out": {
            "address": "1SgRn6cf1wkZ955stT8LsfTorFuxqpw3G", 
            "hash": "8cd02632d840eb6424df5bd1099a5b4ee3752b8e506c3505f23790541ba94272", 
            "n": 0, 
            "value": 1331000000
          }
        }
      ], 
      "lock_time": 0, 
      "out": [
        {
          "hash": "1AnW35jwT5HLpEZ9FFHoXwzcv1Jo2Y4hBD", 
          "value": 2500000000
        }, 
        {
          "hash": "1NPcjR6vhWz1mJv212cQ1B4dqVrjMsmNZH", 
          "value": 1000000
        }
      ], 
      "size": 617, 
      "ver": 1, 
      "vin_sz": 3, 
      "vin_total": 2501000000, 
      "vout_sz": 2, 
      "vout_total": 2501000000
    }, 
  ], 
  "ver": 1
}
</pre>


<h4 id="checkaddress_address" class="anchor">GET /checkaddress/:address</h4>

<p>Check a Bitcoin address for validity.</p>

<h5>example request</h5>

<pre>$ curl https://btcplex.com/api/v1/checkaddress/19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa</pre>

<h5>Response</h5>

<pre>true</pre>

</div>
</div>