<h2>Query API Documentation</h2>
<div class="row" style="margin-top:30px;">
<div class="col-md-3">
	<div class="list-group" id="apiendpoints">
  <a href="#getblockcount" class="list-group-item">GET /getblockcount</a>
  <a href="#getblockhash_height" class="list-group-item">GET /getblockhash/:height</a>
  <a href="#latesthash" class="list-group-item">GET /latesthash</a>
  <a href="#getreceivedbyaddress_address" class="list-group-item">GET /getreceivedbyaddress/:address</a>
  <a href="#block-height_height" class="list-group-item">GET /getsentbyaddress/:address</a>
  <a href="#block-height_height" class="list-group-item">GET /addressbalance/:address</a>
  <a href="#block-height_height" class="list-group-item">GET /addressfirstseen/:address</a>
  <a href="#checkaddress_address" class="list-group-item">GET /checkaddress/:address</a>
</div>

</div>

<div class="col-md-9">
<p class="lead">The Query API implements some of <a href="https://blockexplorer.com/q">Bitcoin Block Explorer Query API</a> endpoints (also compatible with <a href="https://blockchain.info/api/blockchain_api">Blockchain.info API</a>).</p>

<h3>Path</h3>

<p>For this documentation, we will assume every request begins with the above path.</p>

<pre>https://btcplex.com/api/v1/</pre>

<h3>Format</h3>

<p>All calls are returned in <strong>plain text</strong>.</p>

<h3>Rate limiting</h3>

<p>The rate limit allows you to make <strong>3600 requests per hour</strong> and implements the standard <code>X-RateLimit-*</code> headers in every API response.</p>

<ul class="list-unstyled">
  <li><code>X-RateLimit-Limit</code> The number of requests allowed per hour.</li>
  <li><code>X-RateLimit-Remaining</code> The number of requests remaining in the current window.</li>
  <li><code>X-RateLimit-Reset</code> The time (in UTC epoch seconds) at which the rate limit window resets.</li>
</ul>


<h3>Status Codes</h3>

<ul class="list-unstyled">
<li><strong>200 OK</strong> Response to a successful request.</li>
<li><strong>429 Too many requests</strong> Request aborted due to rate-limiting.</li>
<li><strong>500 Internal server error</strong> Something bad happened.</li>
</ul>


<h3>Resources</h3>

<p style="margin-bottom:20px;">All endpoints are listed here:</p>

<h4 id="getblockcount" class="anchor">GET /getblockcount</h4>

<p>Returns the current block height / number of blocks in the longest chain.</p>
	
<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/getblockcount</pre>

<h5>Response</h5>
<pre>
275120
</pre>

<h4 id="getblockhash_height" class="anchor">GET /getblockhash/:height</h4>

<p>Returns the hash of a block for the given height.</p>

<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/getblockhash/233943</pre>

<h5>Response</h5>
<pre>
00000000000001a5e28bb1e9aad40f846d66fb7911c0db4dc32a039bb168a237
</pre>

<h4 id="latesthash" class="anchor">GET /latesthash</h4>

<p>Returns the hash of the latest block.</p>

<h5>Example request</h5>

<pre>$ curl https://btcplex.com/api/v1/latesthash</pre>

<h5>Response</h5>
<pre>
00000000000001a5e28bb1e9aad40f846d66fb7911c0db4dc32a039bb168a237
</pre>

<h4 id="checkaddress_address" class="anchor">GET /checkaddress/:address</h4>

<p>Check a Bitcoin address for validity.</p>

<h5>example request</h5>

<pre>$ curl https://btcplex.com/api/v1/checkaddress/19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa</pre>

<h5>Response</h5>

<pre>true</pre>

</div>
</div>