{{with .Blocks}}
<div class="table-responsive">
<table class="table table-striped table-condensed" id="latest_blocks">
<thead>
<tr>
	<th>Height</th>
	<th>Hash</th>
	<th>Time</th>
	<th>Transactions</th>
	<th>Total BTC</th>
	<th>Size (KB)</th>
</tr>
</thead>
<tbody>
{{range .}}
<tr>
	<td>{{.Height}}</td>
	<td><a href="/block/{{.Hash}}" class="hash">{{.Hash}}</a></td>
	<td>{{.BlockTime | formattime}} (<time datetime="{{.BlockTime | formatiso}}"></time>)</td>
	<td>{{.TxCnt}}</td>
	<td>{{.TotalBTC | tobtc}}</td>
	<td>{{.Size | tokb}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
{{end}}

<ul class="pager">
<li class="next">
<a href="/blocks/{{.LastHeight}}">More...</a>
</li>
</ul>