<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="Thomas Sileo">
    <link rel="shortcut icon" href="https://btcplex.s3.amazonaws.com/favicon.ico">

    <title>{{.Title}} - Bitcoin Block Chain Explorer - BTCPlex</title>

    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css">
  
    <style type="text/css">
    #main {
    	margin-top: 60px;
    }
    a:target {
      color:#001f3f;
    }

    dl {
      margin: 30px 0;
    }

    span.address, .hash {
      font-family: "Inconsolata";
      font-size: 1.15em;
    }

    .mono {
      font-family: "Inconsolata";
    }

    .anchor:before {
   content: "";
   display: block;
   height: 50px;
   margin: -30px 0 0;
}

#footer {
  margin-top:10px;color:#999;
}

#footer > div {
  padding:20px 0;
}


@media (min-width: 979px) {
    #apiendpoints {
      position:fixed;width:260px;
    }
  }

    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BTCplex</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{{if eq .Menu "latest_blocks"}} class="active"{{end}}><a href="/">Latest blocks</a></li>
            <li{{if eq .Menu "utxs"}} class="active"{{end}}><a href="/unconfirmed-transactions">Unconfirmed transactions</a></li>
            <li><a href="http://docs.btcplex.com">Documentation</a></li>
            <li{{if eq .Menu "about"}} class="active"{{end}}><a href="/about">About</a></li>
          </ul>

        <form class="navbar-form navbar-right" role="search" method="post" action="/search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search block, tx or address" name="q">
  </div>
</form>


<ul class="nav navbar-nav navbar-right">
            {{if .Price}}
            <li><p class="navbar-text">1BTC = <span id="price">{{.Price}}</span>USD</p></li>
            {{end}}
          </ul>

        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container" id="main">

    {{if .Error}}
    <div class="alert alert-danger">
      <strong>Oops!</strong> {{.Error}}.
    </div>
    {{end}}

      {{ yield }}

      <footer id="footer">
      <div class="pull-left">
        © 2014 Thomas Sileo <a href="https://twitter.com/trucsdedev">@trucsdedev</a> / <a href="http://thomassileo.com/">thomassileo.com</a>
      </div>

      <div class="pull-right">
        <a href="https://github.com/tsileo/btcplex">BTCplex on GitHub</a> | <a href="https://github.com/tsileo/btcplex/issues">Issues</a> | <a href="mailto:contact@btcplex.com">Feedback</a> | Donations: <a href="/address/19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa" class="hash">19gzwTuuZDec8JZEddQUZH9kwzqkBfFtDa</a>  
      </div>
      
      </footer>

    </div><!-- /.container -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
    <script type="text/javascript">
    $(function() {
      if ($('#apiendpoints').length == 1) {
        $(document).scroll(function() {
          if ($(document).scrollTop() > 50) { $('#apiendpoints').css('top', '60px'); } else { $('#apiendpoints').css('top', '') };
        })
      };
      $("time").timeago();
      if ($('#qrcode').length == 1) {
        $('#addressQRCodeModal').on('show.bs.modal', function(e) {
          $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js", function() {
            $('#qrcode').qrcode({text: $('#qrcode').data('addr')});
          });
        });
      };


    //var source = new EventSource('/events');
    //source.onmessage = function(e) {
    //  var data = JSON.parse(e.data);
    //  if (data.t == "price") {
    //    $.jGrowl("Price updated!");
    //    $('#price').html(data.price);
    //  };
    //  if (data.t == "height") {
    //    $.jGrowl("New block found!");
    //  };
    //};
    var addzero = function(n) {
      if (n <= 9) {
        return '0'+n
      }
      return n;
    }
    var formatutc = function(dd) {
      return dd.getUTCFullYear()+'-'+addzero(dd.getUTCMonth() + 1)+'-'+addzero(dd.getUTCDate())+' '+addzero(dd.getUTCHours())+':'+addzero(dd.getUTCMinutes())+':'+addzero(dd.getUTCSeconds())+' +0000 UTC'
    };
    if ($("#latest_blocks").length == 1) {
      var source = new EventSource('/events');
      source.onmessage = function(e) {
        var data = JSON.parse(e.data);
        $('#latest_blocks tbody').prepend('<tr><td>'+data.height+'</td><td><a href="/block/'+data.hash+'" class="hash">'+data.hash+'</a></td><td>'+formatutc(new Date(data.time*1000))+' (<time datetime="'+new Date(data.time * 1000).toISOString()+'"></time>)</td><td>'+data.n_tx+'</td><td>'+(data.total_out / 1e8).toFixed(8)+'</td><td>'+(data.size/1024).toFixed(3)+'</td></tr>');
        if ($('#latest_blocks tbody tr').size() > 50) {
          $('#latest_blocks tbody tr').last().remove();
        }
        $("time").timeago();
      };
    };

    if ($("#unconfirmedcnt").length == 1) {
      var source2 = new EventSource('/events_unconfirmed');
      source2.onmessage = function(e) {
        $('#waiting').hide();
        var data = JSON.parse(e.data);
        $('#unconfirmedcnt').html(data.cnt);
        $('#txs').prepend(data.tmpl);
        if ($('#txs').size() > 50) {
          $('#txs').last().remove();
        }
        $("time").timeago();
      };
    };

    });
    </script>
    {{if .Analytics}}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{.Analytics}}', 'btcplex.com');
    ga('send', 'pageview');
    </script>
    {{end}}
  </body>
</html>